body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}






.instructions {
  background-color: #2ac96e;
  color: white;
  padding: 15px;
  position: relative;
  z-index: 2;
  text-align: center;
  height: 145px;
  margin-bottom: 15px;
}



#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}



.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

#addBizButton {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2ac96e;
}

/* business list display*/
#bizList {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  position: relative;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  float: left;
  overflow-y: auto;
  max-height: 500px;
  
}

#bizList p, span{
  padding-left: 25px;
}

.listedBiz{
  border-bottom-style: solid;
}


/* input form display */
#newForm {
  margin: auto;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  position: relative;
  z-index: 1;
  background-color: white;
  
}

#updateForm {
  margin: auto;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  position: relative;
  z-index: 1;
  background-color: white;
  
}

/* working with the google maps display */
ng-map{ 
  width:100%; 
  height:100%;
  position: absolute;
  top:0;
  /* left:0;    */
  z-index: 1;
}




#welcome{
  position: relative;
  z-index: 1;
}

#autoFill {
  position: relative;
  z-index: 1;
}