<div class="instructions">
    <div id="heading" class="container">

        <div id="subheads">
            <p id="welcome" class="lead">Welcome!</p>
        </div>
        <div id="center">
            <p id="title">goZero</p>
            <p id="subheads">A Zero-Waste Resource Guide
                <p>
        </div>
        <div id="subheads">
            <div id="subheads">
                <p><a id="headerLinks" href="#/home">Home</a> | <a id="headerLinks" href="#/login">Login/Register</a></p>
            </div>
        </div>
    </div>
</div>