<div class="instructions">
    <div id="heading" class="container">
         
        <div id="subheads"><p id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</p></div>
        <div id="center">
            <p id="title">goZero</p>
            <p id="subheads">A Zero-Waste Resource Guide<p>
              </div>
        <div id="subheads"><p id="logout"><a href="#/login" ng-click="uc.userService.logout()">Log Out</a> </p></div>
    
</div>
</div>



<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/login">Login</a></li>
    </ul>
  </div>
</div> -->
