<div class="instructions">
    <div id="heading" class="container">
        
        <h1 class="lead" id="title">goZero</h1>
        <p id="subtitle">A Zero-Waste Resource Guide<p>
        <p id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</p>
        <p id="logout"><a href="#/login" ng-click="uc.userService.logout()">Log Out</a></p>
    
</div>
</div>



<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/login">Login</a></li>
    </ul>
  </div>
</div> -->
