<div ng-controller="MaterialController as mc" ></div>

<div class="containter" id="bizList" ng-controller="BusinessController as bc">
    <md-button class="md=primary md-raised" id="addBizButton" ng-href="#/login">Add New Business</md-button>
    <div ng-repeat="business in bc.businessData.list">
      <p> {{business.name}} <br> 
          {{ business.street }} <br> 
          {{business.city}}, {{business.state}} {{business.zip}} <br>
          <a href="{{business.website}}">{{business.website}}</a> <br> 
          <button>Details</button> <br>
          {{business.description}} <br> 
          Zero-Waste Offerings:<br>
        <span ng-repeat="offering in business.offerings">
          {{offering}}<br>   
        </span>
       </p>
    </div>