<header ng-include="'/views/partials/header.html'"></header>

<div class="container" ng-controller="BusinessController as bc">

    <!-- MAP AND MARKERS -->
    <ng-map default-style="false" id="map" center='current-position' zoom="12">
        <marker ng-repeat="business in bc.businessData.list" icon="{{bc.getIcon(business)}}" position="[ {{business.latitude}}, {{business.longitude}} ]"
            on-click="bc.showDeets(business)"></marker>
        <info-window id="infoWindow">
            <div ng-non-bindable="">
                <span>{{bc.businessData.business.name}}</span><br> {{bc.businessData.business.address}}
                <br>
                <a href="{{bc.businessData.business.website}}">{{bc.businessData.business.website}}</a><br>
            </div>
        </info-window>
    </ng-map>

    <!-- BUSINESS LIST WINDOW -->
    <div class="containter" id="bizList">
        <md-content layout-padding>
            <div id="bizListHeader">
                <div id="markers">
                    <span id="searchBox"> <input   type="text" ng-model="searchBox" placeholder="Search"></span>
                    <span>Grocery:<img id="markerImages" src="/assets/orange.png"></span>
                    <span>Other:<img id="markerImages" src="/assets/purple.png"></span>
                </div><br>
                <md-button class="md-raised" id="addBusinessButton" ng-href="#/login" >Add New Business</md-button><br>
            </div>
            <div id="bizListScroll">
                <div class="listedBiz" ng-repeat="business in bc.businessData.list | offeringsFilter:searchObject ">
                    <p> <span id="bizName">{{business.name}}</span> <br> {{ business.address }} <br>
                        <a href="{{business.website}}">{{business.website}}</a> <br><br>
                    </p>
                    <md-button class="md-raised" id="detailsButtons" ng-click="bc.showDetails(business)">Details</md-button>
                    <br>
                    <br>
                    <!-- EXPANDABLE DETAILS SECTION -->
                    <div ng-show="business.details">
                        <span class="label">Description:</span> {{business.description}}
                        <br>
                        <br> <span class="label">Zero-Waste Offerings:</span><br>
                        <div ng-repeat="offering in business.offerings" ng-if="offering.is_available==true">
                            <li>{{offering.name}}</li><br>
                        </div>
                        <md-button class="md-raised" id="collapseDetailsButtons" ng-click="bc.showDetails(business)">Collapse Details</md-button>
                    </div>
                </div>
            </div>
        </md-content>
    </div>

</div>