<div ng-controller="MaterialController as mc" >
        
    <ng-map id="map" center="[44.97, -93.26]" zoom="12">         
        <marker position="[44.9614, -93.2876]"></marker>
    </ng-map>

<div ng-include="'views/partials/nav.html'"></div>

<div class="container" ng-controller="BusinessController as bc" >

<!-- welcome registered user message -->
<div id="welcome">
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>

<!-- business list window -->
<div class="containter"   id="bizList" >   
    <button class="md=primary md-raised" id="addBizButton" ng-click="bc.openForm()">Add Business</button> 
    <div ng-repeat="business in bc.businessData.list">
      <p> {{business.name}} <br> 
          {{ business.address }} <br> 
          <a href="{{business.website}}">{{business.website}}</a> <br> 

          <!-- extra details section -->
          <button ng-click="bc.showDetails(business)">Details</button> <br>
          <div ng-show="business.details">
                {{business.description}} <br> 
                Zero-Waste Offerings:<br>
              <span ng-repeat="offering in business.offerings">
                {{offering}}<br>   
              </span>
             </p>
             <button ng-click="bc.showDetails(business)">Collapse Details</button>
         </div>
       <button ng-if="uc.userObject.userName==business.user" ng-click="bc.deleteBusiness(business._id)">Delete</button>
       <button ng-if="uc.userObject.userName==business.user">Update</button>
    </div>
</div>
   
<!-- messing with google maps autofill -->


<!-- input form to post new business -->
    <div id="inputForm" ng-show="bc.form">
            <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{bc.message}}</h2>
        <form ng-submit="bc.addBusiness()">
                <div id="autoFill">
                        Enter an address: <br/>
                        <input places-auto-complete size=80
                          ng-model="bc.address"
                          component-restrictions="{country:'us'}"
                          on-place-changed="bc.placeChanged()" /> <br/>
                        <!-- <div ng-show="bc.place">
                          Address = {{bc.place.formatted_address}} <br/>
                          Location: {{bc.place.geometry.location}}<br/>
                        </div>
                        address : {{bc.address}}
                        name: {{bc.place.name}} -->
                 </div> <br><br>
            <div>
                <label for="name">Name:</label>
                <input type="text" ng-model="bc.newBusiness.name" />
            </div><br>
            <div>
                    <label for="street">Address:</label>
                    <input type="text" ng-model="bc.newBusiness.formatted_address" />
                </div><br>
            
            <div>
                    <label for="website">Website:</label>
                    <input type="text" ng-model="bc.newBusiness.website" />
            </div><br>
            <div>
                    <label for="state">Description:</label>
                    <input type="text" ng-model="bc.newBusiness.description" />
            </div><br>
            <input class="btn btn-default" type="submit" name="submit" value="Submit" />
            <a href="#registeredHome" ng-click="bc.openForm()">Cancel</a>
        </form>
    </div>
    
</div>
</div>




    <!-- attempt at popup form with Angular Material - failed 
    
 <div ng-controller="MaterialController as mc"> ng-click="mc.showPrompt($event) 

    <div ng-cloak  ng-controller="MaterialController as mc" ng-cloak="">
              
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Here is an Add button</h1>
                    <md-button ng-click="mc.openDialog($event)" class="md-raised">Add Business</md-button>
      
                    <div  layout="column" layout-align="center" >
                            ng-repeat="quest in questList.allsQ" id="prova"
                        <md-card >
                        <md-card-title>
                          <md-card-title-text layout="row">
                            <span flex layout ="column"><b>Name</b></span>
                            <span flex layout ="column"><b>Street</b></span>
                            <span flex layout ="column"><b>City</b></span>
                            <span flex layout ="column"><b>State</b></span>
                            <span flex layout ="column"><b>Zipp</b></span>
                            <md-button ng-click="questList.modifica()">Modifica</md-button>
                            <md-button ng-click="questList.rimuovi()">Elimina</md-button>
                          </md-card-title-text>
                        </md-card-title>
                        
                      </md-card>
                    </div>
      
                  </md-content> -->
               
    
    
    
    
    
    
   

