<header ng-include="'views/partials/registeredHeader.html'"></header>
<div ng-controller="MaterialController as mc">
    <div class="container" ng-controller="BusinessController as bc">

        <!-- MAP AND MARKERS -->
        <ng-map default-style="false" id="map" center='current-position' zoom="12">

            <marker ng-repeat="business in bc.businessData.list" icon="{{bc.getIcon(business)}}" position="[ {{business.latitude}}, {{business.longitude}} ]"
                on-click="bc.showDeets(business)"></marker>
            <info-window id="infoWindow">
                <div ng-non-bindable="">
                   {{bc}} {{bc.businessData.business.name}}<br> {{bc.businessData.business.address}}
                    <br>
                    <a href="{{bc.businessData.business.website}}">{{bc.businessData.business.website}}</a><br>
                </div>
            </info-window>
        </ng-map>



        <!-- BUSINESS LIST WINDOW -->
        <div class="containter" id="bizList">
            <button class="md=primary md-raised" id="addBizButton" ng-click="bc.openNewForm()">Add Business</button>
            <div class="listedBiz" ng-repeat="business in bc.businessData.list">
                <p> {{business.name}} <br> {{ business.address }} <br>
                    <a href="{{business.website}}">{{business.website}}</a> <br>

                    <!-- EXPANDABLE DETAILS SECTION -->
                    <button ng-click="bc.showDetails(business)">Details</button>
                    <br>
                    <div ng-show="business.details">
                        Description: {{business.description}}<br>
                        <br>
                        <br> Zero-Waste Offerings:<br>
                        <span ng-repeat="offering in business.offerings" ng-if="offering.is_available==true">
                             {{offering.name}}<br>   
                        </span>
                </p>
                <button ng-click="bc.showDetails(business)">Collapse Details</button><br><br>
                <button ng-if="uc.userObject.userName==business.user" ng-click="bc.deleteBusiness(business._id)">Delete</button>
                <button ng-if="uc.userObject.userName==business.user" ng-click="bc.openUpdateForm(business)">Update</button>
                </div>
            </div>
        </div>


        <!-- NEW BUSINESS FORM -->
        <div id="newForm" ng-show="bc.newForm">
            <div class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{bc.message}}</div>
            <form ng-submit="bc.addBusiness()">
                <div id="autoFill">
                    <label for="autoComplete">Enter a business: </label>
                    <input places-auto-complete size=50 component-restrictions="{country:'us'}" ng-model="bc.newBusiness.place.autofilladdress" on-place-changed="bc.placeChanged()"
                    /><br/>
                </div>
                
                <br>
                <br> Name: {{bc.newBusiness.place.name}}<br><br> Address: {{bc.newBusiness.place.formatted_address}}<br><br> Website:
                {{bc.newBusiness.place.website}}
                <br><br>
                <div>
                    <label for="state">Description:</label>
                    <input type="text" ng-model="bc.newBusiness.place.description" />
                </div>
                <br>
                <div ng-repeat="type in bc.newBusiness.place.type">
                    <input type="radio" name="type" ng-model="type.is_type" value="{{type.is_type}}">{{type.name}}
                    <!-- <input type="radio" name="type" ng-model="bc.newBusiness.place.type" value="other"> Other -->
                </div><br> 
                Zero-Waste Offerings:
                <br>
                <br>
                <div ng-repeat="offering in bc.newBusiness.place.offerings">
                    <input type="checkbox" name="offering" ng-model="offering.is_available">{{offering.name}}<br>
                </div>
                <br>
                <input class="btn btn-default" type="submit" name="submit" value="Submit" />
                <a href="#registeredHome" ng-click="bc.openNewForm()">Cancel</a>
            </form>
        </div>


        <!-- UPDATE BUSINESS FORM -->
        <div id="updateForm" ng-show="bc.updateForm" >
            <form ng-submit="bc.updateBusiness(bc.businessToEdit.currentData)">
                <div>
                    <label for="state">Description:</label>
                    <input type="text" ng-model="bc.businessToEdit.currentData.description"/>
                </div>
                <br>
                
                <div>
                    <input type="radio" name="type" value="Bulk Grocery Store">Bulk Grocery Store
                    <input type="radio" name="type" value="Other"> Other
                </div><br> Zero-Waste Offerings:
                <br>
                <br>
                <div>
                    <input type="checkbox" name="offering" ng-model="bc.bulk">Bulk groceries<br>
                    <input type="checkbox" name="offering" ng-model="bc.pet">Pet products<br>

                </div>
                <br>
                <input class="btn btn-default" type="submit" name="submit" value="Submit" ng-click="bc.openUpdateForm()" />
                <a href="#registeredHome" ng-click="bc.openUpdateForm()">Cancel</a>
            </form>
        </div>

    </div>
</div>




<!-- these were inputs that I originally had for the Add New Business form - changed to just display data 
                <div>
                    <label for="name">Name:</label>
                    <input type="text" ng-model="bc.newBusiness.name" />
                </div><br>
                <div>
                    <label for="street">Address:</label>
                    <input type="text" ng-model="bc.newBusiness.formatted_address" />
                </div><br>

                <div>
                    <label for="website">Website:</label>
                    <input type="text" ng-model="bc.newBusiness.website" />
                </div><br> -->


 <!-- This was an attempt to use xeditable but I didn't like how it functioned. I had it under ng-show in the Business List Window: 
                 <span editable-text="business.description" e-label="">{{business.description || 'empty'}}</span>  
                <button ng-if="uc.userObject.userName==business.user" ng-click="bc.updateBusiness(business)">Save</button>  -->







<!-- Other category options
                <input type="checkbox" name="offering" ng-model="bc.taps">Taprooms/Fill Growlers<br>
                <input type="checkbox" name="offering" ng-model="bc.books">Books<br>
                <input type="checkbox" name="offering" ng-model="bc.program">Sharing program<br>
                <input type="checkbox" name="offering" ng-model="bc.compost">Uses compostable products<br> -->